@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

tbody, li, p {
  line-height: 1.6rem;
}

.light {
  --highlight: #46B47F;
  --primary: #4E4E4E;
  --secondary: #B8B8B8;
  --secondary-light: #EBEBEB;
  --info: #46B47F;
  --note: #46B47F;
  --warning: #46B47F;
  --caution: #46B47F;
  --tip: #46B47F;
  --background: hsl(151, 99%, 99%);
}

.dark {
  --highlight: #98fbcb;
  --primary: #D4D4D4;
  --secondary: #B8B8B8;
  --secondary-light: #858585;
  --info: #46B47F;
  --note: #46B47F;
  --warning: #46B47F;
  --caution: #46B47F;
  --tip: #46B47F;
  --background: #202020;
}

.collapse-list {
  max-height: 0 !important;
}